body, a, p, h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
}
.header{
	width: 100%;
	height: 960px;
	background-image: url(../img/gorod.jpg);
}
.content{
	width: 1000px;
	margin: 0 auto;
}
.num{
	float: right;
	margin-top: 60px;
	border: 2px solid #000;
	padding: 10px;
	border-radius: 10px;
	background-color: #fff;
}
.num h2{
	font-size: 20px;
}

.but{
	float: right;
	margin-top: 250px;
}
.ssilka{
	float: left;
	font-size: 25px;
	border: 2px solid #000;
	padding: 10px;
	border-radius: 10px;
	background-color: #fff;
	margin-right: 60px;
}
.ssilka a{
	text-decoration: none;
	color: #000;

}
.ssilka a:hover{
	color: blue;
}
.center{
}
.center p{
	text-align: center;
	font-size: 35px;
	color: #fff;
	margin: 0;
	clear: both;
	padding-top: 200px;
}
