
.wrapper{
	width: 1000px;
	margin: 0 auto;
}

.menu{
	float: right;
	margin-top: 40px;
	position: absolute;
}
.menu li{
	float: left;
	margin-right: 30px;
	font-size: 20px;
	border: 2px solid #4a9df2;
	border-radius: 10px;
	padding: 10px; 
	list-style-type: none;
}
.menu a{
	color: #4a9df2;
	text-decoration: none;
}
.menu li:hover{
	background-color: #cccccc;
}
.menu a:hover{
	color: #1f466e;
}
.mnu{
	padding-top: 20px;
}
.block{
	padding-top: 150px;
}
.text h2{
	text-align: center;
	font-style: italic;
	font-size: 25px;
	color: #4a9df2;
}
.text p{
	color: #4a9df2;
	font-size: 20px;
}
.paket{
	padding-top: 150px;

}
.paket h2{
	text-align: center;
	color:  #4a9df2;
	font-size: 25px;
	font-style: bold;
	margin-bottom: 50px;
}

.services{
	padding-top: 150px;
}
.services h2{
	text-align: center;
	font-size: 25px;
	color: #16488d;
}
.border{
	margin-top: 40px;
	margin: 0;
}
.border .home{
	margin-right: 50px;
}
.border .uborka{
	margin-left: 50px;
}
.uborka{
	width: 355px;
	height: 450px;
	border-radius: 30px;
	border: 1px solid #5598dd;;
	float: left;
	color: #5598dd;
}
.uborka p{
	font-size: 13px;
	margin-left: 25px;
	color: #5598dd;

}
.uborka img{
	margin-left: 15px;
}
.home{
	width: 355px;
	height: 450px;
	border-radius: 30px;
	border: 1px solid #5598dd;;
	float: right;
	color: #5598dd;
}
.home1{
	margin-top: 10px;
	margin-left: 20px;
}
.home h4{
	font-size: 13px;
	margin: 0;
	margin-left: 10px;
}
.home p{
	margin: 0;
	font-size: 13px;
}
.nash_contact{
	padding-top: 150px;
}
.nash_contact h2{
	clear: both;
	text-align: center;
	color: #4a9df2;
	font-size: 18px;
}
.nash_contact p{
	text-align: center;
	color: #4a9df2;
	font-size: 20px;
}